// Definition of the corporate color scheme in complementary colors.
$colors: (
        'primary': #e62b27,
        'secondary': green,
);

$colors-complementary: (
        'primary': darken(#e62b27, 30%),
        'secondary': #f8f8f8,

);

// The lighten and darken default factor.
$factor: 10%;

// The generated black and white colors. You can change them if needed.
@function o2_grays($part) {
  @return unquote('#')+$part+$part+$part;
}
$colors-grays: (
        'black': o2_grays('0'),
        'darkest': o2_grays('2'),
        'darker': o2_grays('26'),
        'dark': o2_grays('3'),
        'gray': o2_grays('8f'),
        'light': o2_grays('ce'),
        'lighter': o2_grays('f8'),
        'lightest': o2_grays('fa'),
        'white': o2_grays('f'),
);

// STATES, MESSAGES COLORS (do not change)
$color-status: #0f0;
$color-warning: #fc0;
$color-error: #f00;
$color-shadow: rgba(0, 0, 0, 0.5);


$color-background-from: #fefefe;
$color-background-to: #eee;

// BASE OUTPUT
// Only change variable values here.
// All base scss files use only these variable names!
$color-base-text: map-get($colors-grays, 'darker');
$color-base-link: map-get($colors-grays, 'darker');
$color-base-link-hover: map-get($colors-complementary, 'primary');
$color-base-selected-text: map-get($colors-grays, 'white');
$color-base-selected-text-background: lighten(map-get($colors, 'primary'), $factor);

