//
// RESETS
// ---------------------------------------------------------------------
// This file contains the resets placeholders.
//

%reset-margin {
  margin: 0;
}

%reset-padding {
  padding: 0;
}

%reset {
  @extend %reset-margin;
  @extend %reset-padding;
}

%reset-list {
  @extend %reset;

  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

%reset-content {
  content: none;
}
