@import "sass-essentials";

.heading {
  &--title {
    @include visually-hidden();
  }
  &--logo {
    display: block;
    margin: 30px auto 24px;
    width: 80%;
    max-width: 282px;
    max-height: 96px;

  }
}
