@include global-box-sizing;

// First step define your font-face families if necessary! Example below.
// @include font-face('Fira Sans', 100, italic, 'FiraSans-UltraLightItalic');

html,
body {
  //overflow-x: hidden; // NECESSARY FOR EXTENDING LAYOUT
}

html {
  // The use of rem units requires the font-size on the HTML to be set to "a"
  // value. This unit will then correspond to 1 rem. By default most (all?)
  // browsers are using 16px.
  // We are changing the default to 10px with a 62,5% rule. This allows us to
  // more easily work with rem, because it corresponds to 10px in default
  // browsers.
  // Using 62,5% instead of 10px allows users/browsers to set a different
  // default font size, effectively allowing to nicely zoom the website. This is
  // required for accessibility standards.
  @include font-factor(62.5%);
  @include text-size-adjust(100%);
}

body {
  @extend %reset;
  font-family: $primary-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $color-base-text;
  font-weight: 300;
  letter-spacing: 0.01em;
}

// SELECTED TEXT
* {
  &::selection {
    background: $color-base-selected-text-background;
    color: $color-base-selected-text;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $base-line-height;
  margin: 2.2rem 0 1.2rem;
  font-family: $secondary-font;
  color: color-grays('black');
  letter-spacing: 0.025em;
  font-weight: 400;
}

h1 {
  font-size: $h1-font-size;
  text-align: center;
  text-transform: uppercase;
  column-span: all;
}

h2 {
  font-size: $h2-font-size;
  column-span: all;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 1.2rem;
  font-weight: 300;
}

a {
  transition: color .2s ease-in-out;
  text-decoration-skip: ink;
  color: $color-base-link;

  &:hover {
    color: $color-base-link-hover;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  img {
    vertical-align: top;

    &:focus {
      outline: none;
    }
  }
}

b,
strong {
  font-weight: 300;
}

em {
  font-style: italic;
  font-size: $h5-font-size;
}

ul,
ol {
  padding-left: 2rem;
  margin: 0;
  li {
    font-weight: 300;
  }
}

span {
  &.mailto,
  &.ext {
    display: none;
  }
}

img {
  border: 0;
  outline: 0;
  max-width: 100%;
  height: auto;
}
