//
// TYPOGRAPHY
// ---------------------------------------------------------------------
// This file contains the variables for typography.
//

// BASE ICONS
$icon-primary-font:       'icons';
// $icon-secondary-font:     'FontAwesome';

// BASE CORPORATE FONTS
$open-sans:               'Open Sans', 'Arial', 'Helvetica', 'sans-serif';
// $raleway :                'Raleway', 'Arial', 'Helvetica', 'sans-serif';
$source-sans:             'Source Sans Pro', 'Arial', 'Helvetica', 'sans-serif';
$goudy:                   'Sorts Mill Goudy', serif;

// BASE FONTS
$font-path:               '../fonts/';
$primary-font:            $source-sans;
$secondary-font:          $goudy;

// BASE FONTS SETTINGS
$base-font-size:          1.7rem;
$base-line-height:        1.55;

// BASE FONTS SIZES (NICE TO HAVE IN GOLDEN RATIO)
$h1-font-size:            3.8rem;
$h2-font-size:            2.2rem;
$h3-font-size:            2rem;
$h4-font-size:            1.7rem;
$h5-font-size:            1.4rem;
$h6-font-size:            1.1rem;


//FONTS
//Sorts Mill Goudy
//Alike
//Esteban
