@import "sass-essentials";

.activity {
  border: 1px solid color("primary");
  padding: 0.4rem 2.4rem;
  margin-bottom: 2.2rem;
  background-color: rgba(white, 0.4);

  h2 {
    margin-top: 1.6rem;
  }

  p {
    font-size: $h5-font-size;
  }

  b,
  strong {
    font-weight: 600;
  }
}

.results {
  @include reset-list();
  counter-reset: item;
  list-style: none;

  &__item {
    padding: 0.5rem 0 0.4rem;
    border-bottom: 1px solid color-grays("light");

    &:before {
      content: 'Vraag ' counter(item, decimal) ': ';
      counter-increment: item;
      font-family: $secondary-font;
      font-weight: 400;
      font-size: $h5-font-size;
      font-style: italic;
      display: inline-block;
      min-width: 9rem;
    }
  }

  &__result {
    display: inline-block;
    width: 100%;

    @include phablet {
      width: calc(100% - 9rem - 1rem);
    }

    &:not(.results__result--full) {
      @include tablet {
        width: 27rem;
      }
    }

    &--full {}
  }

  &__info {
    font-size: $h5-font-size;
    font-style: italic;
    display: block;
    vertical-align: text-top;

    @include phablet {
      padding-left: 9rem;
    }

    @include tablet {
      padding-left: 0;
      display: inline-block;
      width: calc(100% - 27rem - 9rem - 1rem);
    }
  }

  em {
    display: inline-block;
    margin-right: 0.16em;
  }

  &--alternative {
    .results__item {
      &:before {
        content: 'Schifting ' counter(item, decimal) ': ';
      }
    }
    .results__result {
      //@include phablet {
      //  width: calc(100% - 9rem - 1rem);
      //}
    }
  }

  &:last-of-type {
    margin-bottom: 2.4rem;
  }
}
